<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Quotation – 744</title>
    <link rel="stylesheet" href="/css/edit-quotation.css">
</head>
<body>

<div th:replace="~{common/header}"></div>

<h1 style="text-align: center">Edit Quotation</h1>

<form th:action="'/quotation/update/' + ${quotation.id}" method="post" th:object="${quotation}">
    <section>
        <table>
            <tr>
                <td>Name:</td>
                <td><input id="name" required th:field="*{name}" type="text"></td>
            </tr>
            <tr>
                <td>Mobile No:</td>
                <td><input id="mobileNo" required th:field="*{mobileNo}" type="text"></td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><input id="date" required th:field="*{date}" type="date"></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><textarea id="address" required th:field="*{address}"></textarea></td>
            </tr>
            <tr>
                <td>Subject:</td>
                <td>
                    Quotation for
                    <input id="subjectPlantCapacity"
                           th:field="*{plantCapacity}"
                           placeholder="Plant Capacity"
                           style="width: 70px">
                    <select id="onOffGrid" th:field="*{onOffGrid}">
                        <option value=" On Grid">On Grid</option>
                        <option value=" Off Grid">Off Grid</option>
                    </select>
                    solar system on Erection procurement and commissioning basis
                </td>
            </tr>
        </table>
    </section>

    <!-- Proposed Site Details Section -->
    <section>
        <h2>Proposed Site Details</h2>
        <table>
            <tr>
                <td>Name:</td>
                <td><input id="proposedSiteName" required th:field="*{proposedSiteName}" type="text"></td>
            </tr>
            <tr>
                <td>Location:</td>
                <td><input id="proposedSiteLocation" required th:field="*{location}" type="text"></td>
            </tr>
        </table>
    </section>

    <!-- Solar PV System Specification Section -->
    <section>
        <h2>Solar PV System Specification</h2>
        <table>
            <tr>
                <td>Plant Capacity:</td>
                <td><input id="plantCapacity" value="" readonly type="text"></td>
            </tr>
            <tr>
                <td>Module Technology:</td>
                <td>144cell DCR Monoperc  Half cut Bifacial</td>
            </tr>
            <tr>
                <td>Mounting Structure Technology:</td>
                <td>Fixed Tilt</td>
            </tr>
            <tr>
                <td>Project Scheme:</td>
                <td>Turnkey Rooftop EPC</td>
            </tr>
            <tr>
                <td>Power Evacuation:</td>
                <td>220V - 320V</td>
            </tr>
            <tr>
                <td>Solar Plant Output Connection:</td>
                <td>To existing LT connection</td>
            </tr>
            <tr>
                <td>Approx. Area:</td>
                <td>210  sq. Feet Required</td>
            </tr>
            <tr>
                <td>Scheme:</td>
                <td>Captive - Net Metering</td>
            </tr>
        </table>
    </section>

    <!-- Proposal Bases Inquiry Received Section -->
    <section>
        <h2>Proposal Bases Inquiry Received</h2>
        <table>
            <tr>
                <td>From:</td>
                <td th:text="${ownerName}"></td>
            </tr>
            <tr>
                <td>Date:</td>
                <td th:text="${currentDate}"></td>
            </tr>
            <tr>
                <td>Offer Validity:</td>
                <td th:text="${offerValidity}"></td>
            </tr>
        </table>
    </section>
    <!-- Technical Specifications and BOM Section -->
    <div th:replace="~{technical-specifications-tbl}"></div>
    <br><br>
    <!-- Plant Size, Total Amount Payable, and Subsidy Section -->
    <div th:replace="~{plant-size-tbl}"></div>
    <br>
    <div id="createQuotationBtn">
        <a class="btn btn-secondary" href="/">Go to Dashboard</a>
        <button type="submit">Update Quotation</button>
    </div>
</form>
<div th:replace="~{common/footer}"></div>
</body>
</html>
