<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Quotation</title>
    <link href="/css/view-quotation.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/header}"></div>

<h1>Quotation Details</h1>

<table>
    <tr>
        <th colspan="2">Quotation Details</th>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${quotation.name}"></td>
    </tr>
    <tr>
        <td>Mobile No:</td>
        <td th:text="${quotation.mobileNo}"></td>
    </tr>
    <tr>
        <td>Date:</td>
        <td th:text="${quotation.date}"></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td th:text="${quotation.address}"></td>
    </tr>
    <tr>
        <td>Subject:</td>
        <td th:text="${quotation.subject}"></td>
    </tr>
    <tr>
        <td>Thank You:</td>
        <td th:text="${quotation.thankYou}"></td>
    </tr>
    <tr>
        <th colspan="2">Proposed Site</th>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${quotation.proposedSiteName}"></td>
    </tr>
    <tr>
        <td>Location:</td>
        <td th:text="${quotation.location}"></td>
    </tr>
    <tr>
        <th colspan="2">Solar PV System Specification: On-Grid Rooftop</th>
    </tr>
    <tr>
        <td>Plant Capacity:</td>
        <td th:text="${quotation.plantCapacity}"></td>
    </tr>
    <tr>
        <td>Module Technology:</td>
        <td th:text="${quotation.moduleTechnology}"></td>
    </tr>
    <tr>
        <td>Mounting Structure Technology:</td>
        <td th:text="${quotation.mountingStructureTechnology}"></td>
    </tr>
    <tr>
        <td>Project Scheme:</td>
        <td th:text="${quotation.projectScheme}"></td>
    </tr>
    <tr>
        <td>Power Evacuation:</td>
        <td th:text="${quotation.powerEvacuation}"></td>
    </tr>
    <tr>
        <td>Solar Plant Output Connection:</td>
        <td th:text="${quotation.solarPlantOutputConnection}"></td>
    </tr>
    <tr>
        <td>Approx. Area:</td>
        <td th:text="${quotation.approxArea}"></td>
    </tr>
    <tr>
        <td>Scheme:</td>
        <td th:text="${quotation.scheme}"></td>
    </tr>
    <tr>
        <th colspan="2">Proposal Bases Inquiry Received</th>
    </tr>
    <tr>
        <td>From:</td>
        <td th:text="${quotation.inquiryReceivedFrom}"></td>
    </tr>
    <tr>
        <td>Date:</td>
        <td th:text="${quotation.proposalBasesInquiryReceivedDate}"></td>
    </tr>
    <tr>
        <td>Offer Validity:</td>
        <td th:text="${quotation.offerValidity}"></td>
    </tr>
</table>

<br><h2 style="text-align: center">Technical Specifications and BOM FOR 03 KW SOLAR POWER PLANT:</h2>
<table id="componentsTable">
    <thead>
    <tr>
        <th>S No.</th>
        <th>Components</th>
        <th>Specifications</th>
        <th>Make</th>
        <th>Z</th>
        <th>Qty</th>
    </tr>
    </thead>
    <tbody>
    <script>
        const technicalSpecificationsTables = [
            { id: 1, component: 'Solar PV Modules', specification: 'MONOPERC HALFCUT BIFACIAL PANEL 545WP 03 KW', make: 'SUNBOND', z: '', qty: '15 NOS' },
            { id: 2, component: 'Solar Inverter', specification: 'On-grid type MPPT based solar inverter with grid energy export function 03 KW', make: 'V SOLE', z: '', qty: '1' },
            { id: 3, component: 'Mounting Structure', specification: 'Mounting Structure 140*60 MM & 41*41 Galvanized 3 KW', make: '', z: '', qty: '' },
            { id: 4, component: 'AC Cables', specification: 'AC side-AL. ARMORED/COPPER FLEXIBLE (AS PER SIDE CONDITION)', make: 'Polycab/ISI', z: '', qty: 'AS REQUIRED' },
            { id: 5, component: 'DC Cables', specification: 'DC side copper', make: 'Polycab/ISI', z: '', qty: 'AS REQUIRED' },
            { id: 6, component: 'Distribution Boxes (DC)', specification: 'DC distribution box with built-in SPD and DC Fuses IP65 protected', make: 'HEVELLS & PHOENIX', z: '', qty: '1' },
            { id: 7, component: 'Distribution Boxes (AC)', specification: 'AC Combiner box with built-in SPD and AC MCB/MCCB IP65 protected Spike type lighting arrestor, 1 MTR', make: 'HEVELLS & PHOENIX', z: '', qty: '1' },
            { id: 8, component: 'Earthing', specification: 'Copper bonded chemical earthings. Insulated copper conductor for earthing connection', make: 'TRUE POWER', z: '', qty: '1' },
            { id: 9, component: 'System Monitoring', specification: 'Wi-Fi based Remote monitoring and weather monitoring system and data logger inbuilt in the inverter', make: 'AS PER INVERTER', z: '', qty: '1' },
            { id: 10, component: 'MC4 Connectors', specification: 'TUV approved, UV protected STD', make: '', z: '', qty: 'AS REQUIRED' },
            { id: 11, component: 'Switchgears', specification: 'MCBs, MCCBs, Isolators etc.', make: 'HAVELLS/ABB', z: '', qty: 'AS REQUIRED' },
            { id: 12, component: 'Balance of System', specification: 'TUV approved PVC conduits, cable ties, electric tapes, enclosures etc.', make: 'Polycab/Steel grip', z: '', qty: 'AS REQUIRED' },
            { id: 13, component: 'Net Meter', specification: 'Net meter and modem for MPEB', make: 'SECURE/HPL', z: '', qty: '1' }
        ];

        technicalSpecificationsTables.forEach(technicalSpecificationsTable => {
            document.write(`<tr>
                                <td>${technicalSpecificationsTable.id}</td>
                                <td>${technicalSpecificationsTable.component}</td>
                                <td>${technicalSpecificationsTable.specification}</td>
                                <td>${technicalSpecificationsTable.make}</td>
                                <td>${technicalSpecificationsTable.z}</td>
                                <td>${technicalSpecificationsTable.qty}</td>
                            </tr>`
            );
        });
    </script>
    </tbody>
</table>
<br>
<div style="text-align: center">
    <a class="btn btn-primary" th:href="'/generatePdf/' + ${quotation.id}">Generate PDF</a>
    <a class="btn btn-primary" th:href="'/quotation/edit/' + ${quotation.id}">Edit</a>
    <a class="btn btn-danger" th:href="'/quotation/delete/' + ${quotation.id}">Delete</a>
    <a class="btn btn-secondary" href="javascript:history.back()">Back</a>
    <a class="btn btn-primary" href="/">Home</a>
</div>

</body>
<div th:replace="~{common/footer}"></div>
</html>
