<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Quotation</title>
    <link href="/css/view-quotation.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{common/header}"></div>

<h1>Quotation Details</h1>

<table>
    <tr>
        <th colspan="2">Quotation Details</th>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${quotation.name}"></td>
    </tr>
    <tr>
        <td>Mobile No:</td>
        <td th:text="${quotation.mobileNo}"></td>
    </tr>
    <tr>
        <td>Date:</td>
        <td th:text="${quotation.date}"></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td th:text="${quotation.address}"></td>
    </tr>
    <tr>
        <td>Subject:</td>
        <td th:text="${quotation.subject}"></td>
    </tr>
    <tr>
        <th colspan="2">Proposed Site</th>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${quotation.proposedSiteName}"></td>
    </tr>
    <tr>
        <td>Location:</td>
        <td th:text="${quotation.location}"></td>
    </tr>
    <tr>
        <th colspan="2">Solar PV System Specification: On-Grid Rooftop</th>
    </tr>
    <tr>
        <td>Plant Capacity:</td>
        <td th:text="${quotation.plantCapacity}"></td>
    </tr>
    <tr>
        <td>Module Technology:</td>
        <td th:text="${quotation.moduleTechnology}"></td>
    </tr>
    <tr>
        <td>Mounting Structure Technology:</td>
        <td th:text="${quotation.mountingStructureTechnology}"></td>
    </tr>
    <tr>
        <td>Project Scheme:</td>
        <td th:text="${quotation.projectScheme}"></td>
    </tr>
    <tr>
        <td>Power Evacuation:</td>
        <td th:text="${quotation.powerEvacuation}"></td>
    </tr>
    <tr>
        <td>Solar Plant Output Connection:</td>
        <td th:text="${quotation.solarPlantOutputConnection}"></td>
    </tr>
    <tr>
        <td>Approx. Area:</td>
        <td th:text="${quotation.approxArea}"></td>
    </tr>
    <tr>
        <td>Scheme:</td>
        <td th:text="${quotation.scheme}"></td>
    </tr>
    <tr>
        <th colspan="2">Proposal Bases Inquiry Received</th>
    </tr>
    <tr>
        <td>From:</td>
        <td th:text="${ownerName}"></td>
    </tr>
    <tr>
        <td>Date:</td>
        <td th:text="${quotation.proposalBasesInquiryReceivedDate}"></td>
    </tr>
    <tr>
        <td>Offer Validity:</td>
        <td th:text="${offerValidity}"></td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th colspan="6">Technical Specifications and BOM FOR 03 KW SOLAR POWER PLANT:</th>
    </tr>
    <tr>
        <th>S No.</th>
        <th>Components</th>
        <th>Specifications</th>
        <th>Make</th>
        <th>Quantity</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Solar PV Modules</td>
        <td>MONOPERC HALFCUT BIFACIAL PANEL 545WP 03 KW</td>
        <td th:text="${quotation.solarPVModulesMake}"></td>
        <td th:text="${quotation.solarPVModulesQty}"></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Solar Inverter</td>
        <td>On-grid type MPPT based solar inverter with grid energy export function 03 KW</td>
        <td th:text="${quotation.solarInverterMake}"></td>
        <td th:text="${quotation.solarInverterQty}"></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Mounting Structure</td>
        <td>Mounting Structure 140*60 MM & 41*41 Galvanized 3 KW</td>
        <td></td>
        <td th:text="${quotation.mountingStructureQty}"></td>
    </tr>
    <tr>
        <td>4</td>
        <td>AC Cables</td>
        <td>AC side-AL. ARMORED/COPPER FLEXIBLE (AS PER SIDE CONDITION)</td>
        <td>Polycab/ISI</td>
        <td th:text="${quotation.acCablesQty}"></td>
    </tr>
    <tr>
        <td>5</td>
        <td>DC Cables</td>
        <td>DC side copper</td>
        <td>Polycab/ISI</td>
        <td th:text="${quotation.dcCablesQty}"></td>
    </tr>
    <tr>
        <td>6</td>
        <td>Distribution Boxes (DC)</td>
        <td>DC distribution box with built-in SPD and DC Fuses IP65 protected</td>
        <td>HEVELLS & PHOENIX</td>
        <td th:text="${quotation.distributionBoxesDcQty}"></td>
    </tr>
    <tr>
        <td>7</td>
        <td>Distribution Boxes (AC)</td>
        <td>AC Combiner box with built-in SPD and AC MCB/MCCB IP65 protected Spike type lighting arrestor, 1 MTR</td>
        <td>HEVELLS & PHOENIX</td>
        <td th:text="${quotation.distributionBoxesAcQty}"></td>
    </tr>
    <tr>
        <td>8</td>
        <td>Earthling</td>
        <td>Copper bonded chemical earthings. Insulated copper conductor for earthing connection</td>
        <td>TRUE POWER</td>
        <td th:text="${quotation.earthlingQty}"></td>
    </tr>
    <tr>
        <td>9</td>
        <td>System Monitoring</td>
        <td>Wi-Fi based Remote monitoring and weather monitoring system and data logger inbuilt in the inverter</td>
        <td>AS PER INVERTER</td>
        <td th:text="${quotation.systemMonitoringQty}"></td>
    </tr>
    <tr>
        <td>10</td>
        <td>MC4 Connectors</td>
        <td>TUV approved, UV protected STD</td>
        <td></td>
        <td th:text="${quotation.mc4ConnectorsQty}"></td>
    </tr>
    <tr>
        <td>11</td>
        <td>Switchgears</td>
        <td>MCBs, MCCBs, Isolators etc.</td>
        <td>HAVELLS/ABB</td>
        <td th:text="${quotation.switchGearsQty}"></td>
    </tr>
    <tr>
        <td>12</td>
        <td>Balance of System</td>
        <td>TUV approved PVC conduits, cable ties, electric tapes, enclosures etc.</td>
        <td>Polycab/Steel grip</td>
        <td th:text="${quotation.balanceOfSystemQty}"></td>
    </tr>
    <tr>
        <td>13</td>
        <td>Net Meter</td>
        <td>Net meter and modem for MPEB</td>
        <td>SECURE/HPL</td>
        <td th:text="${quotation.netMeterQty}"></td>
    </tr>
</table>
<br>
<table>
    <tr>
        <th>PLANT SIZE</th>
        <th>Total Amount Payable</th>
        <th>Direct Subsidy Benefit</th>
    </tr>
    <tr>
        <td>
            PRICES
            <label th:text="${quotation.plantCapacity}"></label>
            <label th:text="${quotation.onOffGrid}"></label>
            POWER PLANT
        </td>
        <td th:text="${quotation.totalAmountPayable}"></td>
        <td th:text="${quotation.directSubsidyBenefit}"></td>
    </tr>
</table>
<br>
<div style="text-align: center">
    <a class="btn btn-danger" th:href="'/quotation/delete/' + ${quotation.id}">Delete</a>
    <a class="btn btn-primary" href="/">Home</a>
    <a class="btn btn-primary" th:href="'/quotation/edit/' + ${quotation.id}">Edit</a>
    <a class="btn btn-green" th:href="'/generatePdf/' + ${quotation.id}">Generate PDF</a>
</div>

</body>
<div th:replace="~{common/footer}"></div>
</html>
